body {
    font-family: 'Poppins', sans-serif;
}

/* HERO */
.hero {
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: #fff;
    padding: 100px 7%;
    min-height: 100vh;
}

.hero h1 span {
    color: #ffd43b;
}

/* SECTION */
.section-padding {
    padding: 80px 7%;
}

/*Trust Section*/
.trust {
    background-color: #162a4d;
    color: #fff;
}

.trust .row h4 {
    color: #ffd43b;
}

/*SEGMEN SECTION*/
.segmen {
    background-color: #162a4d;
    color: #fff;
}

.segmen .row h4 {
    color: #ffd43b;
}

/*COMMUNITY SECTION*/
.community .row h4 {
    color: #ffd43b;
}

/* PRODUCT CARD */
.product-card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.product-card:hover {
    transform: translateY(-10px);
}

/*SWIPER*/
.testimonial-img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  }

.swiper-button-next,
.swiper-button-prev {
  background: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px;
}

/* CTA */
.cta {
    background: linear-gradient(135deg, #2a5298, #1e3c72);
    color: #fff;
    padding: 60px 0;
}

footer {
    background: #111;
    color: #aaa;
    padding: 20px 0;
}